*{
  background-color: rgb(20, 20, 20);
}

a{
  color:darkorange;
}

.topmenu{
  font-size: 150%;
}
.phonepic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}

body {
  margin:1em 5em 2em;
  font-family: 'DejaVu Sans','Courier New', Courier, monospace;
  color: antiquewhite;
  font-size: large;
}

h1{
  color: white;
  text-align: center;
  font-size: 500%;
}

h2{
  color: white;
}